/* CSS Document */

body{
	background-image: url('../img/Bottom_texture.jpg');
	background-attachment: fixed;
	text-align: center;
	font-size: 13px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


#content{
	width: 950px;
	margin: 0% 8%;
	font-family: Geneva, Arial, Helvetica, sans-serif;			
	background-color: #ffffff; 
	border-radius: 7px;
	text-align: left;

}

#header{
	border-radius: 7px;
	margin: 5px;
	height: 60px;
	
}

.enviar{
	width: 150px;
	height: 40px;
	margin: 0px;	
	padding: 0px 3px;
	float:right;
}

.enviar li{
	display: block;
	border:solid;
	text-align: center;
	margin-top:3%;
	border-radius: 7px;
}

.enviar li a {
	display: block;
	text-decoration: none;

}

.enviarE{
	width: 250px;
	margin: 0px;
	padding: 0px;
	float:left;
}

.enviarE li{
	font-size:30px;
	display: block;
	border:solid;
	text-align: center;
	margin-top: 10px;
	border-radius: 7px;
}

.enviarE li a {
	display: block;
	text-decoration: none;
}

.boxtituloinfo {
	clear:both;
	display: inline;
	float: right;

}

.box{
	border-style: solid;
	margin: .4em;
	padding: 8px;
	border-radius: 7px;
}

.img{
	margin-left: 25%;
}

.boximage {
	display: inline;
	clear:both;
}

.boxinto {
	width:800px;
	float: right;
	margin: 0px;
	padding: 0px;
}

.boxusuario{
	padding: 3px;
	display: inline;
	margin: 0px;
}

.boxfecha{
	display: block;
	float:right;
}

.boxcoment{
	clear: both;
	margin: .4em;
}

h4, p {
	display:inline;
}

.code{
	padding: 0px 40px;
	font-size:18px;
	font-weight:bold;
}

.cat, .dif, .ini, .end, h4{
	display:inline;
	text-align:center;
}