/* CSS Document */

body{
	background-image: url('../img/image-blue.jpg');
	background-attachment: fixed;
	text-align: center;
	font-size: 13px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#content{
	width: 950px;
	margin: 0px auto;
	font-family: Geneva, Arial, Helvetica, sans-serif;			
	background-color: #ffffff;
	border-radius: 7px;
	text-align: left;

}

.img{
	margin-top: 10px;
	margin-left: 25%;
}

h1{
	text-align:center;
}