/* CSS Document */

body{
	background-image: url('../img/Bottom_texture.jpg');
	background-attachment: fixed;
	text-align: center;
	font-size: 13px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#content{
	width: 950px;
	margin: 0 8% ;
	font-family: Geneva, Arial, Helvetica, sans-serif;			
	background-color: #ffffff;
	border-radius: 7px;
	text-align: left;

}

#header{
	height:60px;
	font-size: 24px;
	font-family: Arial, Verdana, sans-serif;
	border-radius: 7px;
	margin: 10px;

}

.box{
	border-style: solid;
	margin: .4em;
	padding: 8px;
	border-radius: 7px;

}