/* CSS Document */

body{
	
	margin: 0;
	padding: 0;
	background: #33cc99 ;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#content{
width: 950px;
	margin: 0px auto;
	font-family: Geneva, Arial, Helvetica, sans-serif;			
	background-color: #33cc99 ;
	border-radius: 7px;
	text-align: left;
}

#header{
	height:60px;
	font-size: 24px;
	font-family: Arial, Verdana, sans-serif;
	border-radius: 7px;
	margin: 10px;

}

.box{
	border:none;
	margin: .4em;
	padding: 8px;
	background:#FFFFFF;

}